{{include('partials/header.twig')}}
<div class="error_image_container">
	<div class="message">
		<p>Ooops ! This song lost you somewhere...</p>
		<p>Do you want to go back home ?</p>
		<p>
			<a href="{{url('home')}}">Coming Home</a>
		</p>
	</div>
</div>
{{include('partials/footer.twig')}}